.nav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }
  
  /* Change the color of links on hover */
  .nav a:hover {
    background-color: #ddd;
    color: black;
  }

  .desc {
    
    text-align: center;
    font-size: 20px;
    background-color: #ddd;
  }
  
  /* Add a color to the active/current link */
  .nav a.active {
    background-color: #ddd;
    color: rgb(8, 8, 8);
  }

  h1{
    text-align: center;
    margin: auto;
		width: 600px;
  }

  .blank{
    
    top: 1600px;
    left:7%;
  }


  #flex{
			margin: auto;
    display:flex;
    flex-wrap: wrap;
    width: 90%;
    height: 500px;
    flex-direction: row;
    border: 1px solid rgb(245, 239, 239);
    background-color: #ddd;
  }

  #container{
    
    top: 650px;
    left:7%;

  }

	.images{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly
	}

  .box{
			display: inline;
			width: 400px;
			
  }

  .flexcontainer {
    padding: 2px 16px;
  }

  #flex > .card {
    box-shadow: 0 4px 8px;
    transition: 0.3s;
    width: 30%;
    height: 100%;
    padding-left: 45px;
  }

footer {
    width: 100%;
    text-align: center;
    border-top: 1px solid #ddd;
    padding: 5px;
    box-sizing: border-box;
 }

 #copyright{
  font-size: 10px;
}

footer ul{
  list-style: none;
  margin: 5px 0px;
  padding: 5px;
}

#socials{
  padding: 0px 0px 0px 20px;
}

footer h4{
  margin: 5px 0px;
}

